table {
  width: 100%;
}

div.mat-table {
  display: block;
  font-family: Tahoma, Verdana;
}

div.mat-row,
div.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

div.mat-cell,
div.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

div.mat-cell:first-of-type {
  border-right: 1px solid;
  max-width : 25% !important;
}